.footer-section {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.join-footer {
  margin-left: 70px;
}
.footer-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}
.container--footer-joiner {
  display: flex;
  align-items: baseline;
}
.footer-div {
  margin-left: 93px;
}
.footer-form__email {
  padding: 15px 16px;
  min-width: 358px;
  min-height: 50px;
  background-color: #2f303a;
  color: $primary-white-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.25;
}
.footer-form__label {
  position: absolute;
  padding-left: 16px;
  top: 15px;
  left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__email:focus + .footer-form__label,
.footer-form__email:not(:placeholder-shown) + .footer-form__label {
  opacity: 0;
}
.footer-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
