.logo__web {
  color: $accent-color;
  font-family: Raleway, ans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__studio {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__studio--footer,
.logo__web--footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__studio--footer {
  color: $primary-white-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
